<div class="recipebook-result">
    <ng-container *ngIf="recipebooks.length > 0">
        <p class="title h4">Recetarios disponibles</p>
        <div class="recipebook-container">
            <div class="recipebook" *ngFor="let recipebook of recipebooks; let i=index;" (click)="showRecipeBook(recipebook.id)">
                <div class="recipebook-img">
                    <div class="see-recipe">
                        <i class="fas fa-regular fa-eye"></i>
                    </div>
                    <div [ngSwitch]="i%4">
                        <img *ngSwitchCase="0" src="../../../assets/img/recipebook1.jpg" alt="">
                        <img *ngSwitchCase="1" src="../../../assets/img/recipebook2.jpg" alt="">
                        <img *ngSwitchCase="2" src="../../../assets/img/recipebook3.jpg" alt="">
                        <img *ngSwitchCase="3" src="../../../assets/img/recipebook4.jpg" alt="">
                    </div>
                </div>
                <div class="recipebook-info">
                    <p>Titulo: <i>{{recipebook.title}}</i>
                    <br>
                    Recetas: <span class="badge badge-pill badge-danger">{{recipebook.getNumberOfRecipes()}}</span>
                    </p>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container *ngIf="recipebooks.length == 0">
        <p class="title h4">No hay recetarios disponibles</p>
        <div class="add-recipebook-container">
            <p>Agregar un recetario</p>
            <div>
                <i class="fas fa-solid fa-plus"></i>
            </div>
        </div>
    </ng-container>
</div>
