<div class="recipe-result">
  <p class="title h4 mb-5">Recetas del libro "{{recipeBookSelected.getTitle()}}"</p>

  <div class="recipes-container">
      <div [ngClass]="recipeBookSelected.getListRecipes().length==0 ? 'add-recipe-container100' : 'add-recipe-container'">
        <div class="add-recipe" data-toggle="modal" data-target="#addRecipeToBookForm">
          <p>Agregar una receta</p>
          <div>
              <i class="fas fa-solid fa-plus"></i>
          </div>
        </div>
      </div>
    <ng-container *ngIf="recipeBookSelected.getListRecipes().length > 0">
      <div class="card" *ngFor="let recipe of recipeBookSelected.getListRecipes(); let i=index;">
        <div class="card-header">
          <div [ngSwitch]="i%6">
            <img *ngSwitchCase="0" src="../../../assets/img/food1.jpeg">
            <img *ngSwitchCase="1" src="../../../assets/img/food2.jpg">
            <img *ngSwitchCase="2" src="../../../assets/img/food3.jpeg">
            <img *ngSwitchCase="3" src="../../../assets/img/food4.jpg">
            <img *ngSwitchCase="4" src="../../../assets/img/food5.jpg">
            <img *ngSwitchCase="5" src="../../../assets/img/food6.jpg">
            <img *ngSwitchCase="6" src="../../../assets/img/food7.jpg">
          </div>
          <h2>
            <button class="btn btn-link" (click)="showRecipeDetail(recipe.getId())">
              {{recipe.title}}
            </button>
          </h2>
        </div>
      </div>

      <app-recipe-detail *ngIf="showDetail" [recipeItem]="recipeSelected" (closeRecipeDetail)="closeRecipeDetail()"></app-recipe-detail>
    </ng-container>
  </div>
 

  <div class="modal fade" id="addRecipeToBookForm" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="recipeBookFormLabel" aria-hidden="true">
    <app-add-recipe-to-book-form (updateView)="updateView()" [recipeBookSelected]="recipeBookSelected"></app-add-recipe-to-book-form>
  </div>
</div>





