$width-recipe: 250px;
$main-color: #cf3e1a;
$dark-red: rgb(166, 46, 17);

.recipe-result{
    margin: 0px 50px 0px 50px;
    padding-top: 150px;
}

.title{
    text-align: center;
}

.add-recipe-container{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-recipe{
    text-align: center;
    div{
        background-color: $main-color;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        text-align: center;
        line-height: 60px;
        margin: auto;
        i{
            color: #fff;
            font-size: 30px;
        }
        &:hover{
            background-color:$dark-red;
            cursor: pointer;
        }
    }
    
}

.recipes-container{
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    
}

.card{
    width: 25%;
    img{
        height: 150px;
        object-fit: cover;
    }
}

.card-body{
    text-align: center;
    span{
        text-transform: lowercase;
    }
    ul{
        margin-top: 20px;
        text-align: left;
    }
}

