$main-color: #cf3e1a;
$dark-red: rgb(166, 46, 17);

*{
    font-family: 'Nunito Sans', sans-serif;
}

.btn-danger{
    background-color: $main-color;
    outline: 3px solid #fff;
    &:hover{
        background-color: $dark-red;
    }
}

