<div class="recipe-result">
    <ng-container *ngIf="recipes.length > 0">
      <p class="title h4 mb-5">Recetarios disponibles</p>
      <div class="recipes-container">
        <div class="card" *ngFor="let recipe of recipes;">
          <div class="card-header">
            <img src="../../../assets/img/food1.jpeg" alt="">
            <h2>
              <button class="btn btn-link" (click)="showRecipeDetail(recipe.id)">
                {{recipe.title}}
              </button>
            </h2>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="recipes.length == 0">
        <p class="title h4">No hay recetas disponibles</p>
        <div class="add-recipe-container">
            <p>Agregar una receta</p>
            <div>
                <i class="fas fa-solid fa-plus"></i>
            </div>
        </div>
    </ng-container>
</div>

<app-recipe-detail *ngIf="showDetail" [recipeItem]="recipeSelected" (closeRecipeDetail)="closeRecipeDetail()"></app-recipe-detail>



